.cfg
.Trash/
.ammonite/
.bash_sessions/
.cache/
.config/
.ivy2/
.node-gyp/
.npm/
.kube/cache/
.kube/http-cache/
.nvm/
.sbt/
.ringcentralopener/
.vscode/extensions/
Desktop/
Downloads/
Documents/
Library/
Source/
Music/
Pictures/

